<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.demo.ProductTestMapper">
    <!--  ddl 不会回滚  -->
    <update id="truncateTest">
        truncate table product_test;
    </update>
    <select id="getMaxId" resultType="java.math.BigInteger">
        select max(id)
        from demo_product
    </select>

<!--    <select id="getById" parameterType="java.math.BigInteger" resultType="com.example.demo.model.entity.demo.ProductTest">-->
<!--        select *-->
<!--        from demo_product-->
<!--        where id = #{id,jdbcType=BIGINT}-->
<!--    </select>-->

    <select id="getByIds" parameterType="java.lang.Integer" resultType="com.example.demo.model.entity.demo.ProductTest">
        select *
        from demo_product
        where id = #{id,jdbcType=BIGINT}
    </select>


    <!--    useCache="true" 使用二级缓存-->
    <!--分页查询-->
    <select id="getPageData" useCache="true" parameterType="com.example.demo.model.request.DemoProductRequest"
            resultType="com.example.demo.model.entity.demo.ProductTest">
        select * from demo_product
        where 1=1
        <if test="productName != null and productName != ''">
            and product_name LIKE CONCAT('%',#{productName,jdbcType=VARCHAR},'%')
        </if>
        limit #{offset} ,#{pageSize,jdbcType=INTEGER}
    </select>

    <!--分页查询-->
    <select id="getPageDataOptimization" useCache="true" parameterType="com.example.demo.model.request.DemoProductRequest"
            resultType="com.example.demo.model.entity.demo.ProductTest">
        select * from demo_product
        where 1=1
        <if test="productName != null and productName != ''">
            and product_name LIKE CONCAT('%',#{productName,jdbcType=VARCHAR},'%')
        </if>
        and id >#{maxId,jdbcType=INTEGER}
        limit #{pageSize,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.demo.ProductTest">
        update demo_product
        <set>
            <if test="guid != null">
                guid = #{guid,jdbcType=VARCHAR},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productStyle != null">
                product_style = #{productStyle,jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                image_path = #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                `timestamp` = #{timestamp,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
            and version= #{version,jdbcType=INTEGER}
    </update>

</mapper>
