<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Logback配置文件。
-->
<configuration scan="false" scanPeriod="3600 seconds" debug="false">
	<!-- 彩色日志 -->
	<!--	在spring boot下可以通过引用org/springframework/boot/logging/logback/defaults.xml文件中，配置的默认控制台日志输出模板CONSOLE_LOG_PATTERN。-->
	<!--	里面默认采用的就是彩色日志输出。-->
	<!-- 引入spirng boot默认的logback配置文件 -->
<!--	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->

	<!-- logger上下文,LOG_PATH是spring boot内置变量,取值logging.path -->
	<springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name"/>
	<springProperty scope="context" name="logging.path" source="logging.file.path" defaultValue="logs/"/>
	<property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} -[%thread] - [%X{traceId}] -[%-5level]- [%logger{20}] - %msg%n" />

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
<!--	在默认logback 中添加traceid-->
	<property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} - %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} - [%X{traceId}] %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
	<!-- <contextName>${APPLICATION_NAME}Log</contextName> -->
	


	<!-- [1,公共Appender] 控制台STDOUT -->
    <appender name="STDOUT-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <param name="target" value="System.out"/>
        <encoder charset="UTF-8">
			<!-- 采用Spring boot中默认的控制台彩色日志输出模板 -->
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
	
	<!-- [2,公共Appender] 默认 -->
	<appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logging.path}/log.log</file>
		<append>true</append>
		<!-- 日志记录器的滚动策略，按日期，按大小记录 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 日志文件输出的文件名 -->
			<FileNamePattern>${logging.path}/default/log.%d{yyyyMMdd}.%i.log</FileNamePattern>
<!--			<FileNamePattern>${logging.path}/default/%d{yyyyMMdd}.%i.log</FileNamePattern>-->
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!--日志文件保留天数-->
			<maxHistory>365</maxHistory>
		</rollingPolicy>

		<encoder charset="UTF-8">
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>


	    <!-- [公共Logger] 控制台STDOUT - STDOUT -->
    <logger name="STDOUT" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="STDOUT-APPENDER"/>
    </logger>


	<!-- 1,COMMON.LOG -->
    <logger name="COMMON.LOG" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="STDOUT-APPENDER"/>
		<appender-ref ref="DEFAULT-APPENDER"/>
	</logger>

	<logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />

	<!-- Root logger                                                           -->

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="STDOUT-APPENDER"/>
		<appender-ref ref="DEFAULT-APPENDER"/>
	</root>

	<!-- dev -->
	<springProfile name="dev">
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="STDOUT-APPENDER"/>
			<appender-ref ref="DEFAULT-APPENDER"/>
		</root>
	</springProfile>

	<!-- sit -->
	<springProfile name="sit">
		<root>
			<level value="INFO"/>
			<appender-ref ref="STDOUT-APPENDER"/>
			<appender-ref ref="DEFAULT-APPENDER"/>
		</root>
	</springProfile>

	<!-- test -->
	<springProfile name="test">
		<root>
			<level value="INFO"/>
			<appender-ref ref="STDOUT-APPENDER"/>
			<appender-ref ref="DEFAULT-APPENDER"/>
		</root>
	</springProfile>

	<!-- prod -->
	<springProfile name="crm_prod">
		<root>
			<level value="INFO"/>
			<appender-ref ref="STDOUT-APPENDER"/>
			<appender-ref ref="DEFAULT-APPENDER"/>
		</root>
	</springProfile>

	<!-- prod -->
	<springProfile name="crm_pre">
		<root>
			<level value="INFO"/>
			<appender-ref ref="STDOUT-APPENDER"/>
			<appender-ref ref="DEFAULT-APPENDER"/>
		</root>
	</springProfile>
	
	<jmxConfigurator/>
</configuration>
