<!DOCTYPE html>
<!--引用命名空间,可以不加-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--在html中引入此命名空间，可避免编辑器出现html验证错误，虽然加不加命名空间对Thymeleaf的功能没有任何影响。-->
    <!--引入css-->
    <link th:href="@{/css/user.css}" rel="stylesheet"/>

    <!--引入js-->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/user.js}"></script>-->
</head>
<body>
<!--访问-->
<!--http://localhost:8081/sbp/user-->
<h1>静态页面</h1>
<p th:text="${hello}"></p>
<div>
    <img src="/image/cat.png"></img>
    <img th:src="@{~/image/cat1.jpg}"/>
</div>
<div style="height: 100px;width: 100px;background:indianred">dsdsdsdsds</div>
<button id="btnSave" th:type="button"> click</button>
<div id="message"></div>
<button id="btnCheckAvailable" th:type="button"> btnCheckAvailable</button>
<div id="result"></div>

</body>
</html>



<!--读取不到-->
<!--<script type="text/javascript" src="/js/user.js"></script>-->
<!-- Thymeleaf方式引用静态资源 -->
<script type="text/javascript" th:src="@{/js/user.js}"></script>
<!--转换后的html-->
<!--<script type="text/javascript" src="/sbp/js/user.js"></script>-->
<script>
    let source = null;

    // 用时间戳模拟登录用户
    const userId = "userId";

    if (window.EventSource) {

        // 建立连接,132.230.50.130 传承实际ip
        source = new EventSource('http://localhost:8081/sbp/utility/sseConnect/' + userId);
        // source = new EventSource('http://localhost:8081/sbp/utility/createResponseBodyEmitterConnect/' + userId);
        setMessageInnerHTML("连接用户=" + userId);
        debugger;
        /**
         * 连接一旦建立，就会触发open事件
         * 另一种写法：source.onopen = function (event) {}
         */
        source.addEventListener('open', function (e) {
            debugger;
            setMessageInnerHTML("建立连接。。。");
        }, false);

        /**
         * 客户端收到服务器发来的数据
         * 另一种写法：source.onmessage = function (event) {}
         */
        source.addEventListener('message', function (e) {
            // debugger;
            setMessageInnerHTML(e.data);
        });


        /**
         * 如果发生通信错误（比如连接中断），就会触发error事件
         * 或者：
         * 另一种写法：source.onerror = function (event) {}
         */
        source.addEventListener('error', function (e) {
            debugger;
            if (e.readyState === EventSource.CLOSED) {
                setMessageInnerHTML("连接关闭");
            } else if (e.target.readyState === EventSource.CONNECTING) {
                console.log('Connecting...');
            } else {
                console.log(e);
            }
        }, false);

    } else {
        setMessageInnerHTML("你的浏览器不支持SSE");
    }

    // 监听窗口关闭事件，主动去关闭sse连接，如果服务端设置永不过期，浏览器关闭后手动清理服务端数据
    window.onbeforeunload = function () {
        closeSse();
    };

    // 关闭Sse连接
    function closeSse() {
        source.close();
        const httpRequest = new XMLHttpRequest();
        //132.230.50.130 传承实际ip localhost
        httpRequest.open('GET', 'http://localhost:8081/sbp/utility/close/' + userId, true);
        httpRequest.send();
        console.log("close");
    }

    // 将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }


    // 点击按钮发送GET请求
    $("#btnCheckAvailable1").click(function () {
        // 显示加载状态
        $("#result").html("加载中...");

        // 发送GET请求
        $.ajax({
            url: "http://10.100.200.32:8088/truckOrderItem/checkAvailable?projectNo=XM0713&deviceNo=2072&materialCode=P0002096844&quantity=1", // 示例API
            type: "GET",
            dataType: "json", // 期望返回JSON格式
            success: function (data) {
                debugger;
                // 请求成功处理
                $("#result").html(`
                            <h3>获取成功</h3>
                            <p>ID: ${data.traceId}</p>
                            <p> ${JSON.stringify(data, null, 2)}</p>
                        `);
            },
            error: function (xhr, status, error) {
                // 请求失败处理
                $("#result").html(`
                            <h3 style="color:red">请求失败</h3>
                            <p>状态码: ${xhr.status}</p>
                            <p>错误信息: ${error}</p>
                        `);
            },
            complete: function () {
                // 请求完成后的回调（无论成功失败都会执行）
                console.log("请求完成");
            }
        });
    });
</script>