<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.rabc.RolesMapper">

    <sql id="Base_Column_List">
        ID, Name, CreateTime, Remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultType="com.example.demo.model.entity.rabc.Roles">
        select
        <include refid="Base_Column_List"/>
        from Roles
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from Roles
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.demo.model.entity.rabc.Roles">
        insert into Roles (Name, CreateTime,
        Remark)
        values ( #{name,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
        #{remark,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.rabc.Roles">
        update Roles
        set Name = #{name,jdbcType=VARCHAR},
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
        Remark = #{remark,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=INTEGER}
    </update>

    <!--分页查询-->
    <!--data-->
    <select id="getPageData" parameterType="com.example.demo.model.viewModel.rabc.RolesVM"
            resultType="com.example.demo.model.viewModel.rabc.RolesVM">
        SELECT [ID] ,[Name] ,[CreateTime] ,[Remark]
        FROM [RABC].[dbo].[Roles]
        where 1=1
        <if test="name != null">
            and Name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
        ORDER BY 1
        OFFSET 10*(#{pageIndex,jdbcType=INTEGER}-1) ROWS FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
    </select>
    <!--count-->
    <select id="getPageDataCount" parameterType="com.example.demo.model.viewModel.rabc.RolesVM"
            resultType="java.lang.Long">
        SELECT Count(ID)
        FROM [RABC].[dbo].[Roles]
        where 1=1
        <if test="name != null">
            and Name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>

</mapper>