<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.rabc.UserRolesMapper">

  <sql id="Base_Column_List">
    ID, UserID, RoleID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.example.demo.model.entity.rabc.UserRoles">
    select 
    <include refid="Base_Column_List" />
    from UserRoles
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from UserRoles
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.entity.rabc.UserRoles">
    insert into UserRoles (ID, UserID, RoleID
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.entity.rabc.UserRoles">
    insert into UserRoles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="roleid != null">
        RoleID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.entity.rabc.UserRoles">
    update UserRoles
    <set>
      <if test="userid != null">
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null">
        RoleID = #{roleid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.entity.rabc.UserRoles">
    update UserRoles
    set UserID = #{userid,jdbcType=INTEGER},
      RoleID = #{roleid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <!--分页查询-->
  <!--data-->
  <select id="getPageData" parameterType="com.example.demo.model.viewModel.rabc.UserRolesVM"
          resultType="com.example.demo.model.viewModel.rabc.UserRolesVM">
    SELECT ur.[ID] , ur.[UserID] , ur.[RoleID], u.Account,r.Name
    FROM [RABC].[dbo].[UserRoles] ur
    join [RABC].[dbo].[Users] u on ur.UserID=u.ID
    join [RABC].[dbo].[Roles] r on ur.RoleID=r.ID
    where 1=1
    <if test="account != null">
      and u.Account LIKE CONCAT('%',#{account,jdbcType=VARCHAR},'%')
    </if>
    <if test="name != null">
      and r.Name  LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    ORDER BY 1
    OFFSET 10*(#{pageIndex,jdbcType=INTEGER}-1) ROWS FETCH NEXT #{pageSize,jdbcType=INTEGER} ROWS ONLY
  </select>
  <!--count-->
  <select id="getPageDataCount" parameterType="com.example.demo.model.viewModel.rabc.UserRolesVM"
          resultType="java.lang.Integer">
    SELECT  Count(ur.ID)
    FROM [RABC].[dbo].[UserRoles] ur
    join [RABC].[dbo].[Users] u on ur.UserID=u.ID
    join [RABC].[dbo].[Roles] r on ur.RoleID=r.ID
    where 1=1
    <if test="account != null">
      and u.Account LIKE CONCAT('%',#{account,jdbcType=VARCHAR},'%')
    </if>
    <if test="name != null">
      and r.Name  LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
    </if>
   </select>
</mapper>